body {
	margin:0;
	padding:0;
	font-size: 1.4em;
	line-height: 1.6em;
}
body  > section {
	clear: both;
	padding: 50px 0;
}


h1, h2 {
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	color:#0c243d;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.4em;
}
h2 {
	color:#0c243d;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4em;
}
h2.parallax {
	font-size: 3.6em;
	font-weight: 700;
	text-transform: none;
	color:#ffffff;
	text-shadow: 0px 7px 8px black;
	-webkit-text-shadow: 0px 7px 8px black;
	-moz-text-shadow: 0px 7px 8px black;
}


.separator {
	width:40px;
	height:4px;
	display: block;
	margin: 0 auto;
	background-color: #0c243d;
	margin-bottom: 30px;
}

.grisBG {
	background-color: #f5f5f5;
}
.azulBG {
	background-color: #123156;
}
/** ANIMACIONES **/
.anima1, .anima2, .anima3, img#appImagen, img#appCentral {
	opacity: 0;
}

.anima2 {
	animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
.anima3 {
	animation-delay: .6s;
	-webkit-animation-delay: .6s;
}

/** MENU **/

.navbar-default {
	box-shadow: none;
	background-color:transparent;
	border:none;
	background-image: none;
	min-height: 90px;
	padding-top: 20px;
}
.nav>li>a {
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	color:#ffffff;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black;
	-webkit-text-shadow: 1px 1px 1px black;
	-moz-text-shadow: 1px 1px 1px black;
}
.nav>li>a:hover,
.nav>li>a:focus {
	background-color: transparent;
}

/* estados del menu **/
.normal {
	transition: 1s all ease;
}
.navanimation {
	background-color: #123156;
	min-height: 30px;
	box-shadow: 0 0 10px black;
	padding-top: 0;
	transition: 1s all ease;
}

/** #PRINCIPAL **/

section.top {
	min-height: 700px;
	padding-top: 100px;
	background: rgb(30,61,90); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,61,90,1) 0%, rgba(12,34,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,61,90,1)), color-stop(100%,rgba(12,34,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,61,90,1) 0%,rgba(12,34,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,61,90,1) 0%,rgba(12,34,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,61,90,1) 0%,rgba(12,34,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,61,90,1) 0%,rgba(12,34,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3d5a', endColorstr='#0c223b',GradientType=0 ); /* IE6-9 */
}
section.top img {
	margin: 0 auto;
}


/** #APP **/

section.app .icon {
	width:150px;
	height:150px;
	border-radius: 50%;
	background-color: #123156;
	margin: 0 auto;
	line-height: 180px;
}
section.app .icon i {
	color:#ffffff;
	font-size: 3em;
}


/** #features **/

section.features p {
	font-size:.9em;
	color:#858585;
}
section.features img#appCentral {
	margin: 0 auto;
}
section.features .feature {
	margin-bottom: 20px;
	clear:both;
}
section.features .icon {
	width:120px;
	height:120px;
	border-radius: 50%;
	background-color:#123156;
	margin: 0 auto;
	line-height: 140px;
	text-align: center;
	color:#ffffff;
}

section.features .icon i {
	font-size: 2.6em;
	color:#ffffff;
}

/** SCREENSHOTS **/

div.modal-body {
	text-align: center;
}
div.modal-body img {
	max-height: 90%;
}


/** PARALLAX **/

section#parallax {
	height:500px;
	background-image: url(../img/ipadApp.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/** download **/

section#download div.downloadContent {
	height:700px;
}

section#download div.phone {
	width:50%;
	float: left;
	height:100%;
	box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
	-webkit-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
	-moz-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
	z-index: 1;
	text-align: center;

}

section#download div.empty {
	width:50%;
	background-color: #f5f5f5;
	float: right;
	height:100%;
	z-index: 2;
	background-image: url(../img/downloadBG.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
section#download .download {
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}

section#download .platforms > div {
	border-radius: 20px;
	border: 3px solid #0c243d;
	padding: 11px 0;
	font-size: 1.2em;
	position:relative;
	padding-left: 50px;
	color:#0c243d;
}

section#download .platforms > div i {
	font-size: 2.5em;
	position:absolute;
	left: 20px;
	top:10px;
}

section#download .platforms > div span {
	font-weight: bold;
}




/** Support **/

section#support h1 {
	color:#ffffff;
}
section#support .separator {
	background-color: #ffffff;
}
section#support p {
	font-size: 1.6em;
	color:white;
	margin-bottom: 20px;
}
section#support .field {
	background-color: #123156;
	border: 2px solid #ffffff;
	border-radius: 10px;
	color:#ffffff;
}
section#support form {
	margin-top: 30px;
}
section#support input {
	min-height: 50px;
	margin-bottom: 20px;
}
section#support textarea {
	min-height: 200px;
}
section#support .btn.btn-default {
	background:white;
	border-radius: 14px;
	padding: 5px 43px;
	font-size: 1.4em;
	text-transform: uppercase;
}

#ok {
	display:none;
	background-color: white;
	padding: 20px;
	text-align: center;
	font-size: 1.6em;
	border-radius: 10px;
	border: 4px solid green;
}
.has-success .form-control-feedback  {
	color:white;
	background-color: green;
	border-radius: 50%;
}
.has-error .form-control-feedback {
	color: white;
	background: red;
	border-radius: 20px;
}
.form-horizontal .has-feedback .form-control-feedback {
	top: 0;
	right: 15px;
	font-size: 1.5em;
	right: 22px;
	top: 8px!important;
}
.has-error .help-block {
	background: red;
	color: white;
	padding: 10px;
	border-radius: 5px;
}


::-webkit-input-placeholder {
	color:#ffffff!important;
}

:moz-placeholder {
	color:#ffffff!important;
}
::moz-placeholder {
	color:#ffffff!important;
}

:-ms-input-placeholder {
	color:#ffffff!important;
}



@media(max-width: 500px) {
	section#download div.phone {
		width:100%;
	}
	section#features > section.col-xs-6 {
		width:100%!important;
	}
	section#features > .col-xs-6 {
		width:100%;
	}
	section#features .caracteristica {
		min-height: initial;
		text-align: center;
	}
	section#features .icono {
		display:none;
	}
	section#download div.empty {
		display:none;
	}
	section#download .download {
		position: relative;
	}
	div.download .col-xs-offset-6 {
		width:100%;
		margin:0;
	}
}


@media(max-width:767px){
	section#top {
		height: auto!important;
		min-height: initial;
	}
	.navbar-default .navbar-collapse {
		background-color: #123156;
	}
	section#features .feature {
		min-height: 150px;
		text-align: center;
	}

	section#download .platforms > div {
		margin-bottom: 20px;
		padding: 21px 0 ;
	}
	section#download div.phone {
		height:auto;
	}
	section#download div.downloadContent {
		height:auto;
	}
	section#parallax {
		background-attachment: scroll;
	}
}


